

<div class="animate__animated animate__fadeIn" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" style=" background-color: white;">

    <img src="assets/plantium/back.png" routerLink="../../home" id="back">

   

    <div class="card" fxFlex="98" style="margin-top: 30px;">
        <div class="card-body">
          <h5 class="card-title">Tecnología Agropecuaria.</h5>
          <p class="card-text">Somos una empresa joven y entendemos que las alianzas estratégicas son vitales para poder garantizarle a nuestros clientes los productos que comercializamos. </p>
          <p class="card-text">La ciencia y nuevas tecnologías son aplicadas diariamente en todos los campos de estudio y el agro es uno de ellos, es por eso que desde Revimack Agro queremos ofrecerte los productos tecnológicos mas innovadores, ampliamente probados y de fácil integración. </p>
          </div>
    </div>

    <div  fxFlex="98" fxLayoutAlign="start" style="margin-top: 50px;" class="titleHeader"  >
        <blockquote class="blockquote" fxFlex="100">“De vez en cuando, una nueva tecnología, un antiguo problema y una gran idea se convierten en una innovación”. 
          <footer class="blockquote-footer" style="margin-top: 10px;text-align: end;" >Dean Kamen &nbsp;<cite title="Source Title">creador del Segway y el iBOT</cite></footer>
        </blockquote>
  </div>

  <div fxLayout="row wrap" fxFlex="98" class="products" style="margin-top: 60px;" >
 
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" style="margin-top: 30px;">
        <div fxLayout="row wrap" fxFlex="50" fxFlex.xs="80"  > 
            <h1 >Empresas referentes en tecnología agropecuaria</h1> 
        </div> 
    </div>
</div>
        <!-- <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="98">
            
        </div> -->
        
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 80px; margin-bottom: 60px;">
            <div fxFlex="100"  fxLayoutAlign="center center" style="cursor: pointer;" routerLink="../plantium" > 
                <img src="assets/plantium-link.png" alt="plantium " class="plantium-link">
            </div> 
            <h5 fxFlex="100" fxLayoutAlign="center center">(Selecciona una opción)</h5>
            <!--             
            <div fxFlex="25" fxFlex.xs="60" > <img src="../assets/no-image.png" alt="pesce industrias" width="60%"></div> 
            <div fxFlex="25" fxFlex.xs="60" > <img src="../assets/no-image.png" alt="pesce industrias" width="60%"></div>  -->



        </div>
