
.card{
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;

    box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
}

.card-text{
    font-size: 1.5vw;
    color: rgb(85, 85, 85);
    opacity: 0.9;
    /*  font-family:'Roboto Condensed','sans-serif'; */
}

.card-title{
    font-family: "Monserrat",sans-serif;
    font-weight: 500;
    font-size: 2vw;
}

h1{
    font-family:'Roboto Condensed','sans-serif';
    font-weight: 400;
 }

 h5{
  font-family:'Roboto Condensed','sans-serif';
  font-weight: 400;
  opacity: 0.6;
}
   
    
.products{
  margin-top: 20px;
  margin-bottom: 80px;
  border-radius: 10px; 
  padding: 20px;
  background-color: rgb(251, 251, 251);

  box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
  -webkit-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
  -moz-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
}

.titleHeader{
    border-left: 12px solid #82b75c;
    /* margin-left: 40px; */
  }
  
  
  .titleHeader > .blockquote {
    margin-left: 30px;
    font-size: 4vw;
    font-family: "Monserrat",sans-serif;
    font-weight: 300;
  }
  
  .titleHeader > p{
    margin-left: 10px;
  }
  
  .blockquote{
    font-family:'Roboto Condensed','sans-serif';
    font-weight: 400;
    font-size: 1.8vw;
  }


   .plantium-link{
        border-radius: 5px;
   }
   .plantium-link:hover{
       transform: scale(1.02);
   }

   #back {
    position:absolute; 
    top: 20px; /* Place the button at the bottom of the page */
    left: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    opacity: 0.6;
    width: 40px;
  }
  #back:hover {
   transform: scale(1.01);
  }



      
@media  screen and (max-width: 575px){  

.card-title{
  font-size: 5vw;
}

.card-text{
  font-size: 3.5vw;
}

#back{
  width: 30px;
}

.titleHeader > .blockquote {
  margin-left: 9px;
  font-size: 3.5vw;
}

.plantium-link{
  width: 80%;
}
 

}




@media screen and (min-width: 576px) {

 

}

@media  screen and (min-width: 768px) {
 
  .titleHeader > .blockquote {
    font-size: 2vw;
  }

}

@media  screen and (min-width: 992px) {
  
.titleHeader > .blockquote {
  font-size: 1.6vw;
}
}

@media  screen and (min-width: 1200px) {

  .titleHeader > .blockquote {
    font-size: 1.6vw;
  }

}

@media  screen and (min-width: 1400px) {

.titleHeader > .blockquote {
  font-size: 1.6vw;
}
  
}



 
