
<div fxLayout="row wrap" fxLayoutAlign="center"  >
 
    <div  fxFlex="100" #top>
       <app-navbar fxFlex="100" ></app-navbar>
       </div>
   
   <div  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" style="background-color: white; margin-top: 10px;"  >
    
  <div  fxFlex="100" class="animate__animated animate__fadeIn headerCorti" fxLayoutAlign="center"></div>
  <div fxFlex="99" fxLayoutAlign="space-between center" class="banner" *ngIf="!phone"><span>Revimack Agro </span><span> Revimack Agro</span> <span> Revimack Agro</span> <span> Revimack Agro</span></div>
  <div fxFlex="99" fxLayoutAlign="space-around center" class="banner" *ngIf="phone"><span>Revimack Agro </span><span> Revimack Agro</span></div>
  
    <img src="assets/plantium/back.png" routerLink="../../home" id="back"  >
    <img src="assets/arrow.png" (click)="goToTop()" id="up"  >
  
  
  <div class="card" fxFlex="98" style="margin-top: 80px;">
      <div class="card-body">
        <h5 class="card-title">La Empresa</h5>
        <br>
        <p class="card-text">CORTI S.A. se encuentra en la localidad de San José de La Esquina
            Es una empresa familiar, fundada hace 79 años, ubicandose hoy como unos de los fabricantes de máquinas agrícolas más importantes del país.
        </p>
        <p class="card-text">
            Inicia sus actividades en el año 1940 bajo el nombre de «Santos C. Corti» como taller de reparaciones de implementos agrícolas.
            A partir del año 1950 fabrica arados de rejas con diseños propios y paulatinamente va incorporando otros desarrollos, como Discos Multiples y Balanzones de Rastras Rotativas.</p>
      </div>
  </div>


  <div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center" style="margin-top: 80px;">
    <div fxFlex="25" fxFlex.xs="60" > <h1 >Rastra Desencontrada Serie 3000</h1></div> 
    <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
</div>

  <div class="contain" *ngIf="!phone">
    <div class="box">
      <img src="assets/corti/S-3000-1.jpg">
      <span>Rastra</span>
    </div>

    <div class="box">
      <img src="assets/corti/S-3000-2.jpg">
      <span>Desencontrada</span>
    </div>

    <div class="box">
      <img src="assets/corti/S-3000-3.png">
      <span>Serie 3000</span>
    </div>

    <!-- <div class="box">
      <img src="assets/corti/S-3000-4.png">
      <span>3000</span>
    </div> -->
  </div>

  <div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center"  *ngIf="phone">
  
      <img src="assets/corti/S-3000-1.jpg" fxFlex="98" style="margin-top: 50px; margin-bottom: 20px;">
      <img src="assets/corti/S-3000-2.jpg" fxFlex="98" style="margin-bottom: 20px;">
      <img src="assets/corti/S-3000-3.png" fxFlex="98" style="margin-bottom: 20px;">
      <img src="assets/corti/S-3000-4.png" fxFlex="98" style="margin-bottom: 20px;">
     
  </div>
  
  <div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center" style="margin-top: 80px;">
    <div fxFlex="25" fxFlex.xs="60" > <h1 >Descompactador de Suelos Modelo SAV</h1></div> 
    <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
</div>

  <div class="contain" *ngIf="!phone">
    <div class="box">
      <img src="assets/corti/1.png">
      <span>Descompactador</span>
    </div>

    <div class="box">
      <img src="assets/corti/2.png">
      <span>de Suelos</span>
    </div>

    <div class="box">
      <img src="assets/corti/3.png">
      <span>Modelo SAV</span>
    </div>


  </div>

  <div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center"  *ngIf="phone">
  
      <img src="assets/corti/1.png" fxFlex="98" style="margin-top: 50px; margin-bottom: 20px;">
      <img src="assets/corti/2.png" fxFlex="98" style="margin-bottom: 20px;">
      <img src="assets/corti/3.png" fxFlex="98" style="margin-bottom: 20px;">
     
  </div>
  
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="98" fxFlex.xs="98"  class="products" style="margin-top: 50px;" >
      
          <h2 class="card-text">Corti S.A y Revimack Agro se unen para brindarte productos de calidad, al mejor precio y con todo el servicio post venta que te mereces. En Revimack Agro contamos con toda la información, promociones y novedades acerca de los productos Metalpaz, consultanos y te contestaremos a la brevedad .</h2>

          <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-top: 40px;">
           
            <div fxFlex="33" class="text-center" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas" fxLayoutAlign="end center" >
              <i class="fa-thin fa fa-plus fa-lg plusCorti"></i>
            </div>

            <div fxFlex="33" fxLayoutAlign="center center">
            <img src="assets/logo-tractor.png" fxFlex="90" fxFlex.xs="100" > 
            </div>
            <div fxFlex="33"></div>
          </div> 
    </div>
  </div> 
  
  
  </div>
  
  
   <!-- Formulario canvas -->
<app-form-canvas></app-form-canvas>
 