
@font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }
  
   
 
 .animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

img{
  cursor: pointer;
}

span{
  cursor: pointer;
}

span:hover{
  color: blue;
  font-weight: bold;
}

#johnDeere:hover{
  transform: scale(1.1);
}


#next{
  font-size: 2vw;
  font-family: 'poppins';
  border: 1.5px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
#next:hover{
  border: 1.5px solid blue;

  /* transform: scale(1.05); */
  /* transform: translate(7px) */
}


  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 574px) {

  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 575px)and  (max-width: 768px) {
         

  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 769px)and (max-width: 1024px){
  
    img{
      height: 700px;
    }
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1025px) {
  
    img{
      height: 900px;
    }
    
  
  }
  
  
  
  