.bi.bi-envelope {
    font-size: 3em;
  }
  
.btnSend{
    background-color: #82b75c;
    color: white;
    line-height: 40px;
    border-radius: 10px;
    border: 2px solid #82b75c;
    font-family:'poppins-light';
    font-size: 1em;

    box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
}

.btnSend:hover{

    background-color: white;
    color: rgb(47, 47, 47);
    border: 2px solid #82b75c;
}



input{
    border-radius: 10px;
    border-color: #82b75c;
    font-family:'poppins-light';
}

  
// start canvas
.consulta{
    border-radius: 10px; 
    padding: 10px;
    background-color: rgb(251, 251, 251);

    box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    }

//    end canvas

.modal-container{
    padding: 15px;
}

@media  screen and (max-width: 575px){  

.btnSend{
    font-size: 1em;

}

}


@media screen and (min-width: 576px){




}

@media  screen and (min-width: 786px){





}
@media  screen and (min-width: 992px){




}

@media  screen and (min-width: 1200px){


}

@media  screen and (min-width: 1400px){



}

 




