<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100"  >

<div fxFlex="100" #top>
   <app-navbar></app-navbar>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style=" margin-bottom: 100px; background: white;">
<!-- head -->
    <img src="assets/plantium/back.png" routerLink="../../home" id="back" >

    <div fxFlex="100" class="animate__animated animate__fadeIn " #top style="margin-bottom: 60px;">
    
        <img class="img-fluid" [src]="getImage()" width="100%"  class="frame">
    
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-top: 20px; margin-bottom: 80px; padding: 5px; position: relative;" >
      <img [src]="bannerPromo" alt="" fxFlex="100">
      <button  class="btnPromo fontPop positionBanner" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas"  >quiero la oferta
      </button>
    </div>
  
  
  <!-- <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-top: 80px; margin-bottom: 80px; padding: 5px;" >
    <span class="fontPop fs-9">Los mejores usados seleccionados</span>
  </div> -->

  <carousel [cellWidth]="'100%'" [cellsToShow]="celltoShow"  [height]= "value" [arrows]=false class="mt-30"  style="z-index: 1;">
      <div class="carousel-cell" style="text-align: center"> 
        <div class="logo" style="margin: auto;" (click)="categorySelected('tractor')">
          <img src="./assets/usados/tractor-logo.png" alt="" fxFlex="100">
        </div> 
       <span class="fontPop">Tractor</span>
      </div>

      <div class="carousel-cell" style="text-align: center"> 
        <div class="logo" style="margin: auto;" (click)="categorySelected('fumigador')">
          <img src="./assets/usados/fumigador-logo.png" alt="" fxFlex="100">
        </div> 
       <span class="fontPop" >Fumigadora</span>
      </div>
      <div class="carousel-cell" style="text-align: center"> 
        <div class="logo" style="margin: auto;" (click)="categorySelected('cosechadora')">
          <img src="./assets/usados/cosechadora-logo.png" alt="" fxFlex="100">
        </div> 
       <span class="fontPop" >Cosechadora</span>
      </div>



      <div class="carousel-cell" style="text-align: center"> 
        <div class="logo" style="margin: auto;" (click)="categorySelected('sembradora')">
          <img src="./assets/usados/sembradora-logo.png" alt="" fxFlex="100">
        </div> 
       <span class="fontPop" >Sembradora</span>
      </div>

  </carousel>  



 
<!-- <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" *ngFor="let item of arrayTractors, index as i"> -->

 <!-- <span [routerLink]="['/usados-seleccionados/home-usados/',item.category,i]" class="fontPop fs-8" style="cursor: pointer;">link</span>   -->

<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="97" fxFlex.xs="100"  style="margin-top: 20px; margin-bottom: 80px; padding: 5px;" >
  
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="whiteFrame" fxFlex="30" fxFlex.xs="100" style="margin-bottom: 10px; cursor: pointer;" *ngFor="let item of arrayItems, index as i">
      
      <img [src]="item.img" alt="" fxFlex.xs="40" fxFlex="100" [routerLink]="['/usados-seleccionados/home-usados/',item.category,i]">
      <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex.xs="60" style="padding: 10px;">
        <span class="fontPop" style="font-size: 1em;" fxFlex="100">{{item.name}}</span>
        <span class="fontPop" style="font-size: 1em;" fxFlex="95"> Motor indenor </span>
        <span class="fontPop" style="font-size: 1em;" fxFlex="95"> $ Consultar precio </span>
        <span class="fontPop" style="font-size: 1em;color: blue; " fxFlex="95"> Publicación: {{currentDate | currentMonthYear}}  </span>
      </div>
    
    </div>
</div>

<!-- </div> -->
<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-bottom: 100px; position: relative;" >
  <img [src]= "banner" alt="" fxFlex="100">

  <button  class="btnContact fontPop position" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas">Más información
  </button>

</div>
     

</div>   

<!-- Formulario canvas -->
<app-form-canvas></app-form-canvas>
