.headUsed{
    height: 530px;
    background-image: url(/assets/usados/1200x500-video1.gif);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}



#back {
    position:absolute; 
    top: 20px; /* Place the button at the bottom of the page */
    left: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    opacity: 0.6;
    width: 50px;
  }

  .btnContact{
    background-color: #82b75c;
    font-weight: 500;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 2vw;
    padding: 10px;
    border: 2px solid #82b75c;

    box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
  }

  .btnContact:hover{
    background-color: white;
    color: #82b75c;
    border: 2px solid #82b75c;
  }

  .btnPromo{
    background-color: #82b75c;
    font-weight: 500;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 1.1em;
    padding: 10px;
    border: 2px solid #82b75c;

    box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
  }

  .btnPromo:hover{
    background-color: white;
    color: #82b75c;
    border: 2px solid #82b75c;
  }

  .position{
    position: absolute; 
    top: 60%;
    left: 61%;
  }

  .positionBanner{
    position: absolute; 
    top: 60%;
    left: 5%;
  }

  .logo {
    font-size: 1em;
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    justify-content: center;
    padding: 5px;
    border: 2px solid rgb(1, 179, 1);
    border-radius: 100px; 
    color: green;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .logo:hover{
    transform: scale(1.01);
    border: 2px solid green;

    box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.54);
     }

  .span-logo{
    font-size: 1.1em;
    font-family:"poppins-light";
    // transition: font-size 0.3s ease;
  }


  .whiteFrame{
      border-radius: 5px;
      padding: 5px;
      transition: transform 0.3s, box-shadow 0.3s;
      
      box-shadow: 0px 0px 5px 3px rgba(179,179,179,0.32);
      -webkit-box-shadow: 0px 0px 5px 3px rgba(179,179,179,0.32);
      -moz-box-shadow: 0px 0px 5px 3px rgba(179,179,179,0.32);
  }

  .whiteFrame:hover{
    box-shadow: 0px 22px 39px -1px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 22px 39px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 22px 39px -1px rgba(0,0,0,0.24);
  }

  .frame{
    box-shadow: 0px 0px 5px 3px rgba(134, 133, 133, 0.72);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(134, 133, 133,0.72);
    -moz-box-shadow: 0px 0px 5px 3px rgba(134, 133, 133,0.72);
   }
  
  .whiteFrame > img{
    border-radius: 7px;
  }

  .whatsapp{
    position: fixed;
    bottom: 25%;
    opacity: 0.7;
    right: 10px;
    z-index: 100;
  }




//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {

    .btnContact{
        font-size: 1.1em;
        padding: 2px;
    }

    .btnPromo{
      font-size: 1em;
      padding: 1px;
    }

    .position{
        position: absolute; 
        top: 60%;
        left: 55%;
      }

      .positionBanner{
        position: absolute; 
        top: 61%;
        left: 3%;
      
      }
    .span-logo{
      font-size: 1em;
    }  

}

@media only screen and (min-width: 576px) {

    .btnContact{
        font-size: 1.1em;
        padding: 2px;

    }

    .position{
        position: absolute; 
        top: 60%;
        left: 60%;
      }
}
    

/* medium devices (tablets, 768 px and up) */ 
@media only screen and (min-width: 786px) {

  .logo {
    font-size: 1.1em;
    width: 120px;
    height: 120px;
  }

}
    

/* large devices (desktops, 992 px and up) */ 
@media only screen and (min-width: 992px) {

}

/* x-large devices (desktops, 1200 px and up) */ 
@media only screen and (min-width: 1200px) {

  .logo {
    font-size: 1.1em;
    width: 120px;
    height: 120px;
  }

    
 
}
    

/* XX- Large devices (larger desktops, 1400px and up) */ 
@media only screen and (min-width: 1400px) {

    .headUsed{
        height: 700px;
    }


}
    

