
<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="background-color: white;"  >

<!-- head -->
    <img src="assets/plantium/back.png" routerLink="../../home" id="back"  >

    <div fxFlex="100" class="animate__animated animate__fadeIn " #top style="margin-bottom: 60px;">
    
        <img class="img-fluid" [src]="getImage()" width="100%">
    
    </div>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="background-color: white;">

    <div id="mainImg">
        <img fxFlex="100" class="animate__animated animate__fadeIn" id="testImgMove" [src]="img1" alt="">
      </div>
    
      <div >
        
        <carousel 
          [cellWidth]="'100%'" 
          [cellsToShow]="2"
          arrowsTheme="dark"  
          [height]="800"    
        >
          
          <!-- [cellsToScroll]="3" -->
          <div class="carousel-cell"> <img   [src]="img2" (click)="goToMainImg('img2')"></div>
          <div class="carousel-cell"> <img   [src]="img3" (click)="goToMainImg('img3')"></div>
          <div class="carousel-cell"> <img   [src]="img4" (click)="goToMainImg('img4')"></div>
          <div class="carousel-cell"> <img   [src]="img5" (click)="goToMainImg('img5')"></div>
        </carousel>
      </div>

</div>

</div>   
    
