
<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="background-color: white;"  >

<!-- head -->
    <img src="assets/plantium/back.png" routerLink="../../home" id="back"  >

    <div fxFlex="100" class="animate__animated animate__fadeIn " #top style="margin-bottom: 60px;">
    
        <img class="img-fluid" [src]="getImage()" width="100%">
    
    </div>

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="background-color: white;">

    <span class="font"> texto </span>

</div>

</div>   
    
