
.footer{
    background-color: #82b75c;
    box-shadow: 0px -14px 17px -5px rgba(138,138,138,0.45);
    -webkit-box-shadow: 0px -14px 17px -5px rgba(138,138,138,0.45);
    -moz-box-shadow: 0px -14px 17px -5px rgba(138,138,138,0.45);

}

img{
    width: 20vw;
}

.copyrigth{
    /* font-family: "poppins"; */
    font-size: 3vw;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.material-icons{
    color: white;
}

.fa-whatsapp{
    font-size: 8vw;   
    color: blanchedalmond;  
}
.fa-whatsapp:hover{   
    color: white;
}

.fa-instagram{
    font-size: 8vw;     
    color: blanchedalmond;
}
.fa-instagram:hover{
    color: white;
}

.fa-facebook-f{
    color: blanchedalmond;
    font-size: 8vw;
}
.fa-facebook-f:hover{
    color: white;
} 

.fa-envelope{
    color: blanchedalmond;
    font-size: 8vw;
}
.fa-envelope:hover{
    color: white;
}


.fa-map-marker-alt{
    color: blanchedalmond;
    font-size: 8vw;
}
.fa-map-marker-alt:hover{
    color: white;
}


.icon-text-footer{
    font-size: 4vw;
    color: white;
    font-family: 'Monserrat',sans-serif;
}





  
@media screen and (max-width: 575px) {

    img{
        width: 18vw;
    }

    .copyrigth{
        font-size: 3vw;
    }

    .fa-whatsapp{
        font-size: 8vw;   
    }
  
    .fa-instagram{
        font-size: 7vw;     
    }
    
    .fa-facebook-f{
        font-size: 7vw;
    }

    .fa-envelope{
        font-size: 7vw;
    }

    .fa-map-marker-alt{
        font-size: 7vw;
    }

    .icon-text-footer{
        font-size: 4vw;
    }


}






@media screen and (min-width: 576px) {

    .footer{
        /* height: 30vw; */
    }

    img{
        width: 16vw;
    }
    
    .copyrigth{
        font-size: 1.8vw;
    }

    .fa-whatsapp{
        font-size: 4vw;   
    }
  
    .fa-instagram{
        font-size: 4vw;     
    }
    
    .fa-facebook-f{
        font-size: 4vw;
    }

    .fa-envelope{
        font-size: 4vw;
    }

    .fa-map-marker-alt{
        font-size: 4vw;
    }

    .icon-text-footer{
        font-size: 2vw;
    }

}

@media screen and (min-width: 768px) {


    img{
        width: 14vw;
    }

    .copyrigth{
        font-size: 2vw;
    }

    .fa-whatsapp{
        font-size: 3.5vw;   
    }
  
 
    .fa-instagram{
        font-size: 3.5vw;     
    }
    
    .fa-facebook-f{
        font-size: 3.5vw;
    }

    .fa-envelope{
        font-size: 3.5vw;
    }

    .fa-map-marker-alt{
        font-size: 3.5vw;
    }
  
    .icon-text-footer{
        font-size: 2vw;
    }
    
   
  

}
@media screen and (min-width: 992px) {

  

    
    img{
        width: 9vw;
    }

    .copyrigth{
        font-size: 1.3vw;
    }

    .fa-whatsapp{
        font-size: 2.8vw;   
    }
  
 
    .fa-instagram{
        font-size: 2.8vw;     
    }
    
    .fa-facebook-f{
        font-size: 2.8vw;
    }

    .fa-envelope{
        font-size: 2.8vw;
    }

    .fa-map-marker-alt{
        font-size: 2.8vw;
    }
  
    .icon-text-footer{
        font-size: 1.4vw;
    }
    

}

@media screen and (min-width: 1200px) {

       
    img{
        width: 11vw;
    }

    .copyrigth{
        font-size: 1.3vw;
    }

    .fa-whatsapp{
        font-size: 3vw;   
    }
  
 
    .fa-instagram{
        font-size: 3vw;     
    }
    
    .fa-facebook-f{
        font-size: 3vw;
    }

    .fa-envelope{
        font-size: 3vw;
    }

    .fa-map-marker-alt{
        font-size: 3vw;
    }
  
    .icon-text-footer{
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 1400px) {

    img{
        width: 9vw;
    }

    .copyrigth{
        font-size: 1.3vw;
    }

    .fa-whatsapp{
        font-size: 3vw;   
    }
  
 
    .fa-instagram{
        font-size: 3vw;     
    }
    
    .fa-facebook-f{
        font-size: 3vw;
    }

    .fa-envelope{
        font-size: 3vw;
    }

    .fa-map-marker-alt{
        font-size: 3vw;
    }
  
    .icon-text-footer{
        font-size: 1.4vw;
    }

}