
 
  
  
  <div class="footer" fxLayout="row wrap" fxLayoutAlign="center end" style="padding: 10px;">
      
      
      
  
          <div fxFlex="50" fxLayoutAlign="start " style="margin-top: 10px;" >
               
            <div fxFlex="20" class="devs"  fxLayoutAlign="center center" >
                <img src="assets/a2.png" style="border-radius: 70px;">
            </div> 
             
               <div class="copyrigth" fxLayoutAlign="start end">Todos los derechos reservados 2022</div>

          </div>    
   
          <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" >
               
            <div  fxFlex="100" class="address">
                <p>Ruta Nacional 188. Km 489</p>
           
            </div>

            <div fxFlex="100" fxLayoutGap="20px" fxLayoutAlign="start end" >
                <a  href="https://wa.me/+54230269019?text=Hola!!%20" target="blank" > 
                 <i class="fab fa-whatsapp" ></i>
               </a>
                 
                <a target="_blank" title="Instagram" href="https://www.instagram.com/feintdevs/?hl=es">
                   <i class="fab fa-instagram"></i>
                </a>

                <a target="_blank" title="Facebook" href="https://www.facebook.com/people/FeintdEvs/100075386195305">
                   <i class="fab fa-facebook-f"></i>
                </a>
                
                <a class="fb-like"  data-href="https://www.facebook.com/people/FeintdEvs/100075386195305/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true">
                </a> 

            </div> 

            <!-- revimackventas@gmail.com -->

        </div> 
          
         


           
    </div>     
      
    



