


  .products{

    border-radius: 10px; 
    padding: 10px;
    background-color: rgb(251, 251, 251);

    box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
  }