
<div fxLayout="row wrap" fxLayoutAlign="center"  >
 

 
 <div  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" style="background-color: white; margin-top: 10px;"  >
  
<div  fxFlex="100" class="animate__animated animate__fadeIn headerMetalpaz" fxLayoutAlign="center"></div>
<div fxFlex="99" fxLayoutAlign="space-between center" class="banner" *ngIf="!phone"><span>Revimack Agro </span><span> Revimack Agro</span> <span> Revimack Agro</span> <span> Revimack Agro</span></div>
<div fxFlex="99" fxLayoutAlign="space-around center" class="banner" *ngIf="phone"><span>Revimack Agro </span><span> Revimack Agro</span></div>

  <img src="assets/plantium/back.png" routerLink="../../home" id="back"  >
  <img src="assets/arrow.png" (click)="goToTop()" id="up"  >


<div class="card" fxFlex="98" style="margin-top: 80px;">
    <div class="card-body">
      <h5 class="card-title">La Empresa</h5>
      <br>
      <p class="card-text">METALPAZ es una familia muy unida conformada por tres hermanos, que nació en mayo del 2008, realizando autopartes a terceros. Luego con gran esfuerzo, y mucho sacrificio, comenzamos a fabricar nuestro primer implemento: una inoculadora de semillas, pero no fue fácil venderla, ya que no nos conocían en el mercado.
      </p>
      <p class="card-text">
        En febrero de 2010 largamos nuestro segundo implemento: un acoplado tanque combinado con dispositivo de acople y desacople, el cual, es un modelo único en el mercado, patentado por nuestra empresa “el que nos sacó adelante”.
      </p>
      <p class="card-text">

        En marzo del 2010 lo presentamos en EXPOAGRO, que se realizaba en Baradero, mostrando un gran interés al usuario, y concretándose muchísimas ventas.
      </p>
      <p class="card-text">

        Y así fuimos ganando un lugarcito entre las grandes y reconocidas marcas ya impuestas en el mercado…
        
        En el 2012 un nuevo integrante, nuestro padre, siendo empleado de otra empresa y con mucha antigüedad en la misma, sin importarle eso…se integró a METALPAZ.
        
        Hoy contamos con 26 modelos de fabricación, gracias a clientes, proveedores y amigos que confiaron en nosotros, a pesar de que tenemos un largo camino por recorrer… hoy podemos decir que nuestro sueño se ha cumplido…depender de nosotros mismos…</p>
    </div>
</div>

<div fxLayout="row wrap" fxFlex="98" class="products" style="margin-top: 50px;" >
 
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
      <div fxFlex="25" fxFlex.xs="60" > <h1 >Productos</h1></div> 
      <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
  </div>
</div>

<div  fxLayout="row wrap" fxLayoutAlign="space-between"  fxFlex="98" style="margin-top: 80px; margin-bottom: 80px;">
  
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="49" fxFlex.xs="98" style="margin-bottom: 40px;">
    <span class="card-title">Acoplados Tolva</span>
    <img src="assets/metalpaz/tolva-10.png" alt="tolva metalpaz" fxFlex="100" >
    <div fxFlex="100" class="text-center" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas" >
      <i class="fa-thin fa fa-plus fa-lg plusMetalpaz"></i>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="49" fxFlex.xs="98" style="margin-bottom: 40px;">
    <span class="card-title">Acoplados Tanque</span>
    <img src="assets/metalpaz/tanque-de-1500.png" alt="tanque de 1500 metalpaz" fxFlex="100">
    <div fxFlex="100" class="text-center" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas" >
      <i class="fa-thin fa fa-plus fa-lg plusMetalpaz"></i>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="49" fxFlex.xs="98" >
    <span class="card-title">Acoplados Playo</span>
    <img src="assets/metalpaz/carro-playo.png" alt="tanque de 1500 metalpaz" fxFlex="100">
    <div fxFlex="100" class="text-center" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas" >
      <i class="fa-thin fa fa-plus fa-lg plusMetalpaz"></i>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="49" fxFlex.xs="98"  class="products" style="margin-top: 50px;" >
    
        <h2 class="card-text">Metalpaz y Revimack Agro se unen para brindarte productos de calidad, al mejor precio y con todo el servicio post venta que te mereces. En Revimack Agro contamos con toda la información, promociones y novedades acerca de los productos Metalpaz, consultanos y te contestaremos a la brevedad .</h2>
        <img src="assets/logo-tractor.png" fxFlex="30" fxFlex.xs="70">  
  </div>
</div>

</div>
</div>


 <!-- Formulario canvas -->
 <app-form-canvas></app-form-canvas>
