<br>
<div fxLayoutAlign="center" fxFlex="100" fxLayout="row wrap">  

<div fxLayout="row wrap"  fxFlex="99" class="textWelcome">  

  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px" fxFlex="80" >
      <button type="button" class="btnNav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Productos</button>

      <button type="button" class="btnNav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Promociones</button>

      <button type="button" class="btnNav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Contacto</button>

      <button type="button" class="btnNav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Nosotros</button>
</div>  

<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="20">
  <form class="d-flex">
    <input class="form-control me-2 btnNav" type="search" placeholder="Search" aria-label="Search">
   
    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
  </form>
  <!-- <i class="fab fa-magnifying-glass" style="color: antiquewhite;"></i> -->
</div>
  <!-- Estamos trabajando para brindarte la mejor plataforma de negocios agropecuarios!!! <br>
  Te adelantamos algo de lo que se viene... -->

</div>


  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" id="font" >
    <div class="container-fluid">
    <a class="navbar-brand animate__animated animate__bounce "  routerLink="./login"></a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class=" collapse navbar-collapse text-center" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        <li class="nav-item" style="cursor: pointer;">
            <a class="nav-link text-dark animate__animated animate__backInRight"    data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Productos</a>
        </li>

          <li class="nav-item">
            <a class="nav-link text-dark animate__animated animate__backInDown" routerLink="./contact-us">Contacto</a>
          </li> 
 
           <li class="nav-item animate__animated animate__bounce">
            <a  href="https://wa.me/+542302416035?text=Hola!!%20" target="blank"> 
            <i class="fab fa-whatsapp"></i></a>
          </li>      

      </ul> 
     
    </div>
  </div>
</nav> -->


<div class="offcanvas offcanvas-start" tabindex="-1" width="500" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"  >

  
    <div class="offcanvas-header">

      <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="margin-top: 30px;">PRODUCTOS</h5>
    
      <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="offcanvas"></button>
    </div>
    
  <!-- <div class="my-spinner container align-items-center" *ngIf="spinnerOn!; else canvas">
      <div class="spinner" ></div>
   </div>  -->

    <!-- <ng-template #canvas > -->

    <div class="offcanvas-body" fxLayout="row wrap" style="margin-top: 100px;">
    
      <div>

          <p><a routerLink="../agro/maquinas"><label data-bs-dismiss="offcanvas">Venta de Maquinaria Agricola</label></a></p>
          <p><a routerLink="../implementos/implementos-agricolas" > <label data-bs-dismiss="offcanvas"> Venta de Implementos</label></a></p>
          <p><a routerLink="../eco/plasticos" > <label data-bs-dismiss="offcanvas"> Linea de plásticos</label> </a></p>
          <p><a routerLink="../insumos/repuestos-accesorios" > <label data-bs-dismiss="offcanvas">Repuestos y accesorios</label></a></p>
          <p><a routerLink="../tecno/tecnologia" > <label data-bs-dismiss="offcanvas"> Tecnología Agropecuaria</label></a></p>

      </div>  
    <div fxFlex="90">
        <img src="assets/revimackBack2.png" alt="">
    </div>  
   
    
    </div>
  <!-- </ng-template> -->

</div> 
</div> 
