<div class="animate__animated animate__fadeIn"  fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center" style="background-color: white;">


    <div class="card"  fxFlex="98" style="margin-top: 50px;">
        <div class="card-body">
          <h5 class="card-title">Revimack Agro</h5>
          <br>
          <p class="card-text">Somos una empresa joven y entendemos que las alianzas estratégicas son vitales para poder garantizarle a nuestros clientes los productos que comercializamos.
         Estas alianzas nos permiten ofrecer una amplia gama de productos y servicios, con precios directos de fábrica y con el respaldo de experimentadas firmas. A continuacion te mostramos algunas de ellas. 
         </p>
        </div>
    </div>

 

        <div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center" style="margin-top: 120px;" >
      
         <div fxLayout="row wrap" fxLayout.xs="column " fxLayoutAlign="space-between center"  fxLayoutAlign.xs="center" fxFlex="100" fxFlex.xs="80" fxLayoutGap.xs="100px" style="cursor:pointer" > 
                <img src="assets/rotoplas/rotoplas_logo.svg" alt="rotoplas plasticos" routerLink="/eco/rotoplas" fxFlex="25" fxFlex.xs="20" >
                <img src="assets/plantium/plantium.png" alt="plantium" routerLink="/tecno/plantium" fxFlex="25" fxFlex.xs="10"  >
                <img src="assets/logo_pesce.png" alt="logo pesce" routerLink="/implementos/pesce" fxFlex="25" fxFlex.xs="20" >

            </div> 
              <h5 fxFlex="100" fxLayoutAlign="center center">(Selecciona una opción)</h5>
        </div>
  

    <img [src]="imgRev" alt="logo revimack" fxFlex="98" style="margin-top: 50px; border-radius: 10px;margin-bottom: 80px;">


</div>
