<div fxLayout="row wrap" fxLayoutAlign="center" style="          
box-shadow: 0px 2px 6px 0px rgba(185, 185, 185, 0.47);
-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.47);" #top>

    <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" *ngIf="phone" style="margin-bottom: 10px;">
         <app-navbar fxFlex="100"></app-navbar>
    </div>

    <div   fxFlex="100" class="animate__animated animate__fadeIn header"></div>
    <div fxFlex="100"fxLayoutAlign="center center" class="banner">Una empresa familiar al servicio del agro.</div>

</div>