

.card{
    border-radius: 20px;
    background-color: rgba(34, 34, 34, 0.931);
    margin-bottom: 20px;
    cursor: pointer;

    
    box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.75);
}

.fa-whatsapp{
    font-size: 50px;   
    color: rgb(39, 149, 11);  
    position:absolute; 
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    opacity: 0.6;
}
.fa-whatsapp:hover{   
    color: rgb(63, 218, 25);  

}


.card-text{
    font-size: 4.5vw;
    color: rgb(223, 223, 223);
    opacity: 0.9;
}

.card-title{
    font-family:'Roboto Condensed','sans-serif';
    font-weight:bold;
    color: rgb(231, 231, 231);
    font-size: 6vw;
    margin-top: 15px;
}

h1{
    font-family:'Roboto Condensed','sans-serif';
    font-weight: 400;
    color: white;
}

h4{
    font-family:'Roboto Condensed','sans-serif';
    font-weight: 400;
    color: white;
}

.ecurow{
    margin-top: 50px;
    margin-bottom: 50px;
}

.econovo{
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    box-shadow: 0px 8px 15px 0px rgba(18,18,18,0.75);
    -webkit-box-shadow: 0px 8px 15px 0px rgba(18,18,18,0.75);
    -moz-box-shadow: 0px 8px 15px 0px rgba(18,18,18,0.75);
}

.rotoplas{
    height: 90px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color: white;

    box-shadow: 0px 8px 15px 2px rgba(43,43,43,0.89);
    -webkit-box-shadow: 0px 8px 15px 2px rgba(43,43,43,0.89);
    -moz-box-shadow: 0px 8px 15px 2px rgba(43,43,43,0.89);
}

.farmtrac{
    height: 90px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color: white;

    box-shadow: 0px 8px 15px 2px rgba(43,43,43,0.89);
    -webkit-box-shadow: 0px 8px 15px 2px rgba(43,43,43,0.89);
    -moz-box-shadow: 0px 8px 15px 2px rgba(43,43,43,0.89);
}

.pesce{
    height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
   
    box-shadow: 0px 8px 15px 0px rgba(18,18,18,0.75);
    -webkit-box-shadow: 0px 8px 15px 0px rgba(18,18,18,0.75);
    -moz-box-shadow: 0px 8px 15px 0px rgba(18,18,18,0.75);
}

.divider{
    height: 3px;
    background-color:rgb(173, 168, 168); 
    opacity: 0.6;
}



@media  screen and (max-width: 575px){

    .textWelcome{
        margin-top: 10px;
        border-radius: 10px;
        padding: 20px;
        font-size: 5vw;
    }
    
    .card{
        border-radius: 10px;
    }
    
    .card-text{
        font-size: 4vw;
    }
    
    .card-title{
        font-size: 5vw;
    }
    
    
    h1{
        color: white;
    }
    
    .ecurow{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .econovo{
        height: 90px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .rotoplas{
        height: 90px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .pesce{
        height: 90px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .fa-whatsapp{
        font-size: 45px;   
    }
    
 }




@media  screen and (min-width: 576px){  
    
    .card{
        /* height: 430px; */
    }

    .card-title{
        font-size: 2.3vw
    }

    .card-text{
        font-size: 2.1vw
    }


}




@media screen and (min-width: 768px) {
 
  

}

@media  screen and (min-width: 992px){

    .textWelcome{
        margin-top: 10px;
        padding: 20px;
        font-size: 2vw;
    }
    
    .card{
        border-radius: 20px;
        /* height: 500px; */
    }
    
    .card-text{
        font-size: 1.3vw;
    }
    
    .card-title{
        font-size: 1.6vw;
    }
    
    
    .ecurow{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .econovo{
        height: 90px;
    }

    .rotoplas{
        height: 90px;
    }

    .pesce{
        height: 90px;
    }

    .divider{
        height: 3px;
        background-color:rgb(173, 168, 168); 
        opacity: 0.6;
    }
    
    .full{
        border-radius: 30px;
        height: 250px;
    }
    
 

}
@media  screen and (min-width: 1200px){
  
    .textWelcome{
        margin-top: 10px;
        padding: 20px;
        font-size: 2vw;
    }
    
    .card{
        height: 500px;
    }

    .card-title{
        font-size: 1.4vw;
    }

    .card-text{
        font-size: 1.2vw;
    }

    .full{
        border-radius: 30px;
        height: 250px;
    }
    
    
    
    .ecurow{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .econovo{
        height: 100px;
    }

    .farmtrac{
        height: 110px;
    }
    
    .rotoplas{
        height: 100px;
    }

    .pesce{
        height: 110px;
    }

    .divider{
        height: 3px;
        background-color:rgb(173, 168, 168); 
        opacity: 0.6;
    }

    
    @media  screen and (min-width: 1400px){

          
    .textWelcome{
        margin-top: 10px;
        padding: 20px;
        font-size: 1vw;

    }
    
    .card-text{
        font-size: 1.2vw;
    }

    .full{
        border-radius: 30px;
        height: 250px;
    }
    
    .card-title{
        font-size: 0.8vw;
    }
    
    .ecurow{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .rotoplas{
        height: 110px;
   
    }

    .pesce{
        height: 105px;
   
    }

    .divider{
        height: 3px;
        background-color:rgb(173, 168, 168); 
        opacity: 0.6;
    }

    }



}
 
