
<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="margin-bottom: 50px; padding: 10px;" >

    <a  href="https://wa.me/+542302623444?text=Hola!!%20" target="blank" > 
        <i class="fab fa-whatsapp" ></i>
    </a>



    <div fxLayout="row wrap" fxFlex="100" style="margin-top: 70px; background-color: rgba(240, 240, 240, 0.37); border-radius: 10px; padding: 20px;">
 
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
            <div fxFlex="40" fxFlex.xs="60" > <h1 >ALIANZAS ESTRATEGICAS</h1></div> 
            <div fxFlex="60" fxFlex.xs="40" class="divider"></div>
        </div>

        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" style="margin-top: 30px;">
            <h4 >SOMOS REPRESENTANTES OFICIALES</h4>
        </div>
        
        <div fxLayout.xs="column"  fxLayout="row wrap"  fxFlex="100" fxLayoutAlign="space-between space-between"  fxLayoutGap.gt-xs="1px"  style="margin-top: 50px;">
        
            <div class="card"   fxFlex.xs="100"  fxFlex.gt-xs="48" fxFlex.gt-sm="27" fxFlex="27" routerLink="../tecno/plantium" >
            <img src="assets/plantium.png" class="card-img-top plantium" alt=" plantium">
            <div class="card-body">
              <h5 class="card-title">Plantium Agricultura de precisión</h5>
              <p class="card-text">Nos enorgullese formar parte de esta alianza estratégica, somos punto de venta oficial de los productos
                 Plantium en La Pampa.</p>
            <p class="card-text text">Desde Villa Constitución, provincia de Santa Fe, Argentina. Plantium dedica sus ideas, trabajo y esfuerzo a la agricultura de precisión, al servicio de la gente que trabaja la tierra..</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            </div>

            
            <div class="card"  fxFlex.xs="100" fxFlex.gt-xs="48" fxFlex.gt-sm="27" fxFlex="27"   routerLink="../eco/rotoplas">
            <img src="assets/rotoplas_logo.svg" class="card-img-top rotoplas"  alt="tanque de agua rotoplas" >
                <div class="card-body">
                  <h5 class="card-title">Rotoplas</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Mas y mejor agua.</h6>
                  <p class="card-text">En un mundo en el que el agua potable es un recurso cada vez más escaso y valioso, nuestro objetivo primordial es mejorar la calidad de vida de toda la comunidad, ofreciendo productos y servicios altamente competitivos para la construcción, la agricultura y la industria..</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                </div>

                
            <div class="card" fxFlex.xs="100"  fxFlex.gt-xs="48"fxFlex.gt-sm="27" fxFlex="27" >
                <img src="assets/logo_pesce.png" class="card-img-top pesce" alt="industrias pesce" >
            <div class="card-body">
                <h5 class="card-title">Industrias Pesce</h5>
                <p class="card-text">INDUSTRIAS PESCE S.A. es la fábrica de implementos agrícolas y construcciones metálicas de mayor antigüedad en la actividad en el Sur de la Provincia de Entre Ríos. Instalada dentro del actual corredor y ruta de comunicación del MERCOSUR, a 40 Km. de la Ruta Nacional No 14, en la ciudad de Urdinarrain, Departamento Gualeguaychú donde tiene su domicilio legal.</p>
            </div>
        </div>
        </div>  
    </div>
    



</div>