
<div fxLayout="row wrap" fxLayoutAlign="center center" class="animate__animated animate__fadeIn" fxFlex="100" style="padding: 10px;" >

        <a  href="https://wa.me/+542302623444?text=Hola!!%20" target="blank" > 
            <i class="fab fa-whatsapp" ></i>
        </a>
        <span #top></span>

        <carousel [cellWidth]="'100%'" [cellsToShow]="3.5"  [height]= "100" [arrows]=false  style="z-index: 1; margin-bottom: 40px; margin-top: 50px;" *ngIf="phone">

            <div class="carousel-cell" style="text-align: center; justify-content: center; align-items: center; display: flex; flex-direction: column;"> 
                <div class="icon" routerLink="/usados-seleccionados/home-usados" >
                    <i class="bi bi-arrow-clockwise" style="transform: scale(1.4);"></i>
                </div>
                <span  class="fontPop">Usados Premium</span>
            </div>

            <div class="carousel-cell" style="text-align: center; justify-content: center; align-items: center; display: flex; flex-direction: column;"> 
                <div class="icon" routerLink="/implementos" >
                    <i class="bi bi-tools" style="transform: scale(1.4);"></i>
                </div>
                <span  class="fontPop">Implementos Agrícolas</span>
            </div>

            <div class="carousel-cell" style="text-align: center; justify-content: center; align-items: center; display: flex; flex-direction: column;"> 
                <div class="icon"  routerLink="/eco/plasticos" >
                    <i class="bi bi-droplet"style="transform: scale(1.4);" ></i>
                </div>
                <span  class="fontPop">Linea de plásticos</span>
            </div>
            
         
            <div class="carousel-cell" style="text-align: center; justify-content: center; align-items: center; display: flex; flex-direction: column;"> 
                <div class="icon" routerLink="/maquinaria-agricola/tractores">
                    <img src="assets/icono-tractor.png" fxFlex="60">
                </div>
                <span  class="fontPop">Farmtrac Tractores</span>
            </div>


        </carousel>  
  
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
            <div fxFlex="40" fxFlex.xs="60" > <h1 >ALIANZAS ESTRATEGICAS</h1></div> 
            <div fxFlex="60" fxFlex.xs="40" class="divider"></div>
        </div>

        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" style="margin-top: 30px;">
            <h4 >SOMOS REPRESENTANTES OFICIALES</h4>
        </div>
        
        <div fxLayout.xs="column"  fxLayout="row wrap"  fxFlex="100" fxLayoutAlign="space-between space-between"  fxLayoutGap.gt-xs="1px"  style="margin-top: 50px;">
        

            <div class="card"  fxFlex.xs="100" fxFlex.gt-xs="48" fxFlex.gt-sm="27" fxFlex="27"   routerLink="../maquinaria-agricola/tractores">
                <img src="assets/farmtrac/farmtrac-logo.png" class="card-img-top farmtrac"  alt="tractores farmtrac" >
                    <div class="card-body">
                      <h5 class="card-title">Farmtrac</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Simpleza y confiabilidad.</h6>
                      <p class="card-text">Nuestra filosofía es construir tractores cuyo diseño es simple, confiable y se caracteriza por un bajo costo de mantenimiento y de funcionamiento.
                        Los tractores FARMTRAC están fabricados con componentes de clase mundial, esto asegura la durabilidad y fiabilidad, incluso en terrenos difíciles y en condiciones climáticas desfavorables. Todos nuestros tractores se ajustan a estrictas normas mundiales de emisión, siendo galardonados con numerosos premios por su desempeño</p>
                    </div>
                    </div>
      

            
            <div class="card"  fxFlex.xs="100" fxFlex.gt-xs="48" fxFlex.gt-sm="27" fxFlex="27"   routerLink="../eco/rotoplas">
            <img src="assets/rotoplas_logo.svg" class="card-img-top rotoplas"  alt="tanque de agua rotoplas" >
                <div class="card-body">
                  <h5 class="card-title">Rotoplas</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Mas y mejor agua.</h6>
                  <p class="card-text">En un mundo en el que el agua potable es un recurso cada vez más escaso y valioso, nuestro objetivo primordial es mejorar la calidad de vida de toda la comunidad, ofreciendo productos y servicios altamente competitivos para la construcción, la agricultura y la industria..</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                </div>

                
            <div class="card" fxFlex.xs="100"  fxFlex.gt-xs="48"fxFlex.gt-sm="27" fxFlex="27" routerLink="/implementos/pesce">
                <img src="assets/logo_pesce.png" class="card-img-top pesce" alt="industrias pesce" >
                <div class="card-body">
                    <h5 class="card-title">Industrias Pesce</h5>
                    <p class="card-text">INDUSTRIAS PESCE S.A. es la fábrica de implementos agrícolas y construcciones metálicas de mayor antigüedad en la actividad en el Sur de la Provincia de Entre Ríos. Instalada dentro del actual corredor y ruta de comunicación del MERCOSUR, a 40 Km. de la Ruta Nacional No 14, en la ciudad de Urdinarrain, Departamento Gualeguaychú donde tiene su domicilio legal.</p>
                </div>
           </div>

        <div class="card"   fxFlex.xs="100"  fxFlex.gt-xs="48" fxFlex.gt-sm="27" fxFlex="27" >
            <img src="assets/econovo-logo.png" class="card-img-top econovo" alt="econovo">
            <div class="card-body">
              <h5 class="card-title">ECONOVO División agrovial</h5>
              <p class="card-text"> Es una empresa flexible que busca brindarles soluciones eficientes a nuestros clientes, con gran diversificación de productos y servicios que cumplen con las exigencias de calidad y garantizan una solución rentable.</p>
            <p class="card-text text">En los últimos años avanzamos en los sectores minero, petrolero, vial y agrícola, con el objetivo de ampliar y diversificar nuestro campo de acción, ofreciendo y proveyendo soluciones desde la innovación y la sustentabilidad.</p>
            </div>
            </div>
        </div>  


</div>