
<div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100" style="margin-bottom: 50px; padding: 10px;" >
 
    <div fxLayoutAlign="center" fxFlex="100" class="textWelcome text-center" style="margin-top: 100px;background-color: rgba(240, 240, 240, 0.37); border-radius: 10px; padding: 20px;" >  

        Estamos trabajando para brindarte le mejor plataforma de negocios agropecuarios!!! <br>
        Te adelantamos algo de lo que se viene proximamente...
 
   </div>

    <div fxLayout="row wrap" fxFlex="100" style="margin-top: 100px;background-color: rgba(240, 240, 240, 0.37); border-radius: 10px; padding: 20px;">
 
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
            <div fxFlex="40" > <h1 >ALIANZAS ESTRATEGICAS</h1></div>
            <div fxFlex="60" class="divider"></div>
        </div>
        
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="40px" style="margin-top: 50px;">
        
            <div class="card" style="border-radius: 10px; " fxFlex="30">
            <img src="assets/plantium.png" class="card-img-top" alt="..." style="border-radius: 10px;">
            <div class="card-body">
              <h5 class="card-title">Plantium Agricultura de precisión</h5>
              <p class="card-text text">Nos enorgullese formar parte de esta alianza, convirtiendonos en el único punto de venta oficial
                  en La Pampa.</p>
            <p class="card-text text">Desde Villa Constitución, provincia de Santa Fe, Argentina.Plantium dedica sus ideas, trabajo y esfuerzo a la agricultura de precisión, al servicio de la gente que trabaja la tierra..</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>

            
            <div class="card" style="width: 18rem;" fxFlex="30">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>

                
            <div class="card" style="width: 18rem;" fxFlex="30">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>  
    </div>

</div>