
<!-- <app-start *ngIf="!disabled"></app-start> -->

  <div class="page-wrapper animate__animated animate__fadeIn" >
  <!-- <div class="page-wrapper animate__animated animate__fadeIn" *ngIf="disabled" > -->


    <div class="sticky-header">
      <app-navbar  *ngIf="!(router.url === '/implementos/pesce' || router.url === '/implementos/bernardin' ||
      router.url === '/implementos/metalpaz' || router.url === '/implementos/corti' ||router.url === '/eco/rotoplas'
      ||router.url === '/tecno/plantium' || router.url === '/maquinaria-agricola/tractores' || router.url === '/gracias' || router.url === '/contacto' ) && !phone" ></app-navbar> 
      
    
    </div>
    <div class="content-wrapper" [ngStyle]="(scroll) ? {'overflow-y': 'auto'} : {'overflow-y': 'hidden'} " >
    
        <div class="content">
    
          <app-header *ngIf="!(router.url === '/implementos/pesce' || router.url === '/implementos/bernardin' ||
           router.url === '/implementos/metalpaz'|| router.url === '/implementos/corti' ||router.url === '/eco/rotoplas'||
           router.url === '/tecno/plantium' || router.url === '/maquinaria-agricola/tractores'|| router.url === '/gracias' || router.url === '/contacto' || router.url === '/usados-seleccionados/home-usados')"></app-header>

        
       
          <router-outlet> </router-outlet> 

        
        </div>

        <div class="footer">
          <app-footer *ngIf="!(router.url === '/gracias' || router.url === '/contacto' || router.url === '/maquinaria-agricola/tractores')"></app-footer>
        </div> 
    </div> 
</div>


