
<!-- <app-start *ngIf="!disabled"></app-start> -->

    <!-- <div class="page-wrapper" *ngIf="disabled"> -->
      <div class="page-wrapper animate__animated animate__fadeIn" >
      <!-- <div class="page-wrapper animate__animated animate__fadeIn" *ngIf="disabled" > -->


        <div class="sticky-header">
      
        
        </div>
        <div class="content-wrapper">
        
            <div class="content">
       
              <app-header></app-header>
  
            
              <app-navbar></app-navbar>

              <!-- <app-slider-up *ngIf="!(router.url === '/agro/maquinas'|| router.url === '/eco/plasticos' 
              || router.url === '/insumos/repuestos-accesorios' || router.url === '/implementos/implementos-agricolas'
              || router.url === '/tecno/tecnologia')"></app-slider-up> -->
             <router-outlet> </router-outlet> 
          
           
  
           
            </div>
  
            <div class="footer">
              <app-footer></app-footer>
            </div> 
        </div> 
    </div>
  
  
  