
<!-- <app-start *ngIf="!disabled"></app-start> -->

      <div class="page-wrapper animate__animated animate__fadeIn" >
      <!-- <div class="page-wrapper animate__animated animate__fadeIn" *ngIf="disabled" > -->


        <div class="sticky-header">
      
        
        </div>
        <div class="content-wrapper">
        
            <div class="content">
       
              <app-header *ngIf="!(router.url === '/implementos/pesce'||router.url === '/eco/rotoplas'
              ||router.url === '/tecno/plantium' ||router.url === '/gracias')"></app-header>
  
            
              <app-navbar  *ngIf="!(router.url === '/implementos/pesce' ||router.url === '/eco/rotoplas'
              ||router.url === '/tecno/plantium' ||router.url === '/gracias') && !phone"></app-navbar> 

         <!-- <app-slider-up *ngIf="!(router.url === '/agro/maquinas'|| router.url === '/eco/plasticos' 
              || router.url === '/insumos/repuestos-accesorios' || router.url === '/implementos/implementos-agricolas'
              || router.url === '/tecno/tecnologia')"></app-slider-up> -->
              
             <router-outlet> </router-outlet> 
          
           
  
           
            </div>
  
            <div class="footer">
              <app-footer *ngIf="!(router.url === '/gracias')"></app-footer>
            </div> 
        </div> 
    </div>
  
  
  