<div  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" style=" background-color: white; margin-top: 10px;">

    <div   fxFlex="100" class="animate__animated animate__fadeIn headpesce"> </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="3px"  style="margin-top: 5px;">
        <div class="border"   fxFlex="30"></div> 
        <div class="border2"  fxFlex="5"></div>
        <div class="border3"  fxFlex="2"></div>
        
    </div>    

    <div class="card" fxFlex="98"  >
        <div class="card-body">
          <h5 class="card-title">La Empresa</h5>
          <p class="card-text">La Empresa cuenta con una amplia línea de producción dentro de la cual se encuentran las embutidoras de granos secos y extractoras de granos de silo bolsa, adaptando la producción a las necesidades reales de los productores agropecuarios. A partir del año 2020 se ha iniciado la fabricación del acondicionador de suelo disponible en 2 versiones de ancho de trabajo y se continua la producción de el arado terraceador, rastrones desterronadores, rolos picadores de rastrojos, distribuidores de abonos y fertilizantes, mixer de granos y elevadores de granos y fertilizantes a cinta y sinfín. Constituyendo una fuente de trabajo y producción en continuo crecimiento y evolución, que ha permitido mediante experiencia acumulada y la capacitación del personal, un constante desarrollo técnico industrial, aplicando a cada uno de los elementos fabricados los más altos niveles de la técnica actual. </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div fxLayout="row wrap" fxFlex="98" class="products">
 
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
            <div fxFlex="25" fxFlex.xs="60" > <h1 >Productos</h1></div> 
            <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
        </div>
    </div>


    <div fxFlex="98" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="20px" style="margin-bottom: 50px;" >

        <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="center" data-bs-toggle="collapse" data-bs-target="#acondicionador" aria-expanded="false" aria-controls="acondicionador">

            <div class="borderdouble">
            <img src="./assets/pesce/acondicionador.png" alt=""   style="border-radius: 300px; cursor: pointer; padding: 2px;" fxFlex="100">
            </div>

            <h3>Acondicionador</h3>
        </div>

        <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="center" data-bs-toggle="collapse" data-bs-target="#abono" aria-expanded="false" aria-controls="abono">
            <div class="borderdouble2"  >
                <img src="./assets/pesce/abono.png" alt=""   style="border-radius: 300px; cursor: pointer; padding: 2px;" fxFlex="100">
                </div>
    
                <h3 >Distribuidor de Abonos y fertilizantes</h3>
            </div>

            <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="center">
                <div class="borderdouble3"  >
                    <img src="./assets/pesce/acondicionador.png" alt=""   style="border-radius: 300px; cursor: pointer; padding: 2px;" fxFlex="100">
                    </div>
        
                    <h3 >Acondicionador</h3>
                </div>


    </div>


      <div class="collapse" id="acondicionador" fxFlex="98" style="margin-bottom: 50px;">
        <div fxLayout="row wrap"  >
        <div  fxFlex="50">
           
                <img src="./assets/pesce/acondicionador.png" alt=""   style="padding: 2px;" fxFlex="80" >
                
            </div>


        <div  fxFlex="50" >
            
            <li>Acondicionador de suelos multipropósito.</li>

           <li> Ancho de labor: 6,00 metros</li>
            
            <li>Velocidad de trabajo 12-18 km/h</li>
            
        <li>Discos dentados de 22” con regulación de la separación entre ambos trenes de discos.</li>
            
    <li>Accionamiento hidráulico mediante cilindros de 3 1/2” x 12” </li>
            
<li>Cubiertas 400 x 600 15.5”</li>
            
<li>Potencia requerida:  220 - 240 HP.</li>
            
<li>  Ancho de transporte: 3,30 metros.</li>
        </div>
      
      </div>
    </div>

    <div class="collapse" id="abono" fxFlex="98" style="margin-bottom: 50px;">
        <div fxLayout="row wrap"  >
        <div  fxFlex="50">
           
                <img src="./assets/pesce/abono.png" alt=""   style="padding: 2px;" fxFlex="80" >
                
            </div>


        <div  fxFlex="50" >
            
            <h3>DESCRIPCION</h3>
            <li> Volumen de carga 6,5m3. sin colmar.</li>

            <li>Acarreador de 3 cadenas con mando reductor.</li>
            
            <li>Reductor y cajas en baño de aceite.</li>
            
            <li>Chasis de caño reforzado.</li>
            
            <li>Boca de descarga regulable manual.</li>
            
            <li>Ancho de cobertura 13,00 mts. aprox.</li>
            
            <li>Dimensiones:</li>
            <li>Largo total 5,10 mts.</li>
            <li>Ancho 2,20 mts.</li>
            <li>Rodado: 900 x 20" (Sin cubiertas)</li>
            
            Opcional:  Boca de descarga regulable mediante cilindro hidráulico.
        </div>
      
      </div>
    </div>

</div>
<!-- <div class="container-video" fxFlex="100">
    <iframe class="responsive-iframe"  src="https://www.youtube.com/embed/dBog0pjSfT0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->
