


<form  autocomplete="off" [formGroup]="myForm" (submit)="sendForm()"> 
    
    <div *ngIf="sendingEmail">
    <div class="form-floating">
        <input type="text"  class="form-control"  [ngClass]= "{ 'is-invalid': invalidName}" id="floatingInput" formControlName="name" autofocus placeholder="ingrese nombre" > 
            <span class="form-text text-danger animate__animated animate__tada" *ngIf ="validField ('name')">
                Por favor rellena este campo.
            </span> 
        <label  for="floatingInput">Nombre y Apellido</label>
    </div>
      
    <br>
    <div class="form-floating">          
        <input type="number" class="form-control" [ngClass]="invalidPhone ? 'is-invalid': '' " id="floatphone" formControlName="phone"  placeholder="ingrese telefono" >
            <span class="form-text text-danger  animate__animated animate__tada" *ngIf ="validField ('phone')">
                Este campo es obligatorio
            </span> 
        <label for="floatphone">Telefono / Celular</label>
    </div> 
    
    <br>
    
    <div class="form-floating">          
        <input type="email" class="form-control" [ngClass]= "{ 'is-invalid': invalidEmail}" id="floatemail" formControlName="email" placeholder="email" >
            <span class="form-text text-danger  animate__animated animate__tada" *ngIf ="validField ('email')">
              No respeta formato de email 
          </span> 
        <label for="floatemail">Correo electronico </label>
    </div>    
    
    <br>

    <div class="form-floating">          
        <textarea type="text" class="form-control" [ngClass]= "{ 'is-invalid': invalidEmail}" id="floatmessage" formControlName="message" placeholder="Mensaje" >
            <span class="form-text text-danger  animate__animated animate__tada" *ngIf ="validField ('message')">
              Debe ingresar una consulta 
          </span> 
        </textarea>  
        <label for="floatmessage">Mensaje </label>
    </div>   
  
   <div style="display: block;">
        <button type="submit"  class="btnSend mt-5" style="width: 100%;">Enviar consulta</button>
    </div> 
</div>    

<!-- <div  class="text animate__animated animate__flash"> Enviando email, espere por favor...</div> -->

<div class="d-flex justify-content-center" *ngIf="!sendingEmail">
    <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
</form> 
