

.btnSend{
    width: 100%;
    background-color: #82b75c;
    color: white;
    font-size: 2vw;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;

    box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);

}

input{
    border-radius: 10px;
    border-color: #82b75c;
}