<form  autocomplete="off" [formGroup]="myForm" (submit)="sendForm()"> 
      
    <div class="form-floating">
        <input type="text"  class="form-control"  [ngClass]= "{ 'is-invalid': invalidName}" id="floatingInput" formControlName="name" autofocus placeholder="ingrese nombre" > 
            <span class="form-text text-danger animate__animated animate__tada" *ngIf ="validField ('name')">
                Por favor rellena este campo.
            </span> 
        <label  for="floatingInput">Nombre y Apellido</label>
    </div>
      
    <br>
    <div class="form-floating">          
        <input type="number" class="form-control" [ngClass]="invalidPhone ? 'is-invalid': '' " id="floatphone" formControlName="phone"  placeholder="ingrese telefono" >
            <span class="form-text text-danger  animate__animated animate__tada" *ngIf ="validField ('phone')">
                Este campo es obligatorio
            </span> 
        <label for="floatphone">Telefono / Celular</label>
    </div> 
    
    <br>
    
    <div class="form-floating">          
        <input type="email" class="form-control" [ngClass]= "{ 'is-invalid': invalidEmail}" id="floatemail" formControlName="email" placeholder="email" >
            <span class="form-text text-danger  animate__animated animate__tada" *ngIf ="validField ('email')">
              No respeta formato de email 
          </span> 
        <label for="floatemail">Correo electronico </label>
    </div>    
    
  
   <div style="display: block;">
        <button type="submit"  class="btnSend mt-5" style="width: 100%;">Enviar consulta</button>
    </div> 
                  
</form> 
