

<div  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" style=" background-color: white;">


   

    <div class="card" fxFlex="98" style="margin-top: 30px;">
        <div class="card-body">
          <h5 class="card-title">Lineas de plasticos.</h5>
          <p class="card-text">Somos una empresa joven y entendemos que las alianzas estratégicas son vitales para poder garantizarle a nuestros clientes los productos que comercializamos. </p>
          <p class="card-text">Estas alianzas nos permiten ofrecer una amplia gama de implementos agrícolas, con precios directos de fábrica y con el respaldo de experimentadas firmas. A continuacion te mostramos algunas de ellas. </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div fxLayout="row wrap" fxFlex="98" class="products">
 
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" style="margin-top: 30px;">
            <div fxFlex="25" fxFlex.xs="60" style="cursor: pointer;" routerLink="../rotoplas" > <img src="../assets/rotoplas/rotoplas-logo.png" alt="rotoplas" width="80%"></div> 
            
            <div fxFlex="25" fxFlex.xs="60" > <img src="../assets/no-image.png" alt="pesce industrias" width="60%"></div> 
            <div fxFlex="25" fxFlex.xs="60" > <img src="../assets/no-image.png" alt="pesce industrias" width="60%"></div> 



        </div>
    </div>


  
