

<div class="animate__animated animate__fadeIn" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" style=" background-color: white; margin-top: 10px;">

    <div   fxFlex="100" class="headpesce"> </div>

   

    <div class="card" fxFlex="98"  >
        <div class="card-body">
          <h5 class="card-title">Implementos Agricolas</h5>
          <p class="card-text">Somos una empresa joven y entendemos que las alianzas estratégicas son vitales para poder garantizarle a nuestros clientes los productos que comercializamos. </p>
          <p class="card-text">Estas alianzas nos permiten ofrecer una amplia gama de implementos agrícolas, con precios directos de fábrica y con el respaldo de experimentadas firmas. A continuacion te mostramos algunas de ellas. </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>


    <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="98" class="products">
 
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-around center" style="margin-top: 30px;">
          
            <div fxFlex="30" fxFlex.xs="80" style="cursor: pointer; margin-bottom: 40px;" routerLink="../pesce" fxLayoutAlign="center center"> 
                <img src="assets/logo_pesce.png" alt="pesce industrias" fxFlex.xs="100" height="120px">
            </div>

            <div fxFlex="30" fxFlex.xs="80" style="cursor: pointer; margin-bottom: 40px;" routerLink="../bernardin" fxLayoutAlign="center center"> 
                <img src="assets/logo_bernardin.jpg" alt="bernardin" fxFlex.xs="100" height="110px" >
            </div>

            <div fxFlex="30" fxFlex.xs="80" style="cursor: pointer; margin-bottom: 40px;" routerLink="../metalpaz" fxLayoutAlign="center center"> 
                <img src="assets/logo_metalpaz.png" alt="metalpaz" fxFlex.xs="100" height="110px" >
            </div>

            <div fxFlex="30" fxFlex.xs="80" style="cursor: pointer; margin-bottom: 40px;" routerLink="../corti" fxLayoutAlign="center center"> 
                <img src="assets/logo_corti.png" alt="corti" fxFlex.xs="100" height="90px" >
            </div>
          
        </div>

        <h5 fxFlex="100" fxLayoutAlign="center center">(Selecciona una opción)</h5>
        
    </div>


  









</div>

<!-- <button  routerLink="../pesce">PESCE</button> -->

