
.card{
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;

    box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
}

.card-text{
    font-size: 1.5vw;
    color: rgb(85, 85, 85);
    opacity: 0.9;
    /*  font-family:'Roboto Condensed','sans-serif'; */
}

.card-title{
    font-family:'Roboto Condensed','sans-serif';
    font-weight:bold;
    font-size: 2vw;
}

h1{
    font-family:'Roboto Condensed','sans-serif';
    font-weight: 400;
}

h5{
    font-family:'Roboto Condensed','sans-serif';
    font-weight: 400;
    opacity: 0.6;
}

.products{
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 10px; 
    padding: 20px;
    background-color: rgb(251, 251, 251);

    box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(181,181,181,0.75);
}

img:hover{
    transform: scale(1.02);
}

@media  screen and (max-width: 575px){  

 
.card-title{
    font-size: 6vw;
}

.card-text{
    font-size: 3.6vw;
}

}


@media screen and (min-width: 576px){

    .card-title{
        font-size: 3vw;
    }
    
    .card-text{
        font-size: 2.2vw;
    }
 

}

@media  screen and (min-width: 768px) {

    .card-title{
        font-size: 2.2vw;
    }
    
    .card-text{
        font-size: 2vw;
    }
 

}

@media  screen and (min-width: 992px) {

.card-title{
    font-size: 2.2vw;
}

.card-text{
    font-size: 2vw;
}

}
 
@media  screen and (min-width: 1200px) {

.card-title{
    font-size: 2vw;
}

.card-text{
    font-size: 1.8vw;
}

}

@media  screen and (min-width: 1400px) {

.card-title{
    font-size: 1.5vw;
}

.card-text{
    font-size: 1.3vw;
}
 }
