/* You can add global styles to this file, and also import other style files */

@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500&display=swap');


html, 
body {
   margin: 0; 
   font-family:"Helvetica Neue", sans-serif;
   background-color: white;
   overflow-x: hidden;
  }

  
@font-face {
  font-family:'awesome';
  src: url(assets/font/fontawesome-webfont.ttf);
   
}

@font-face {
font-family:'poppins-light';
src: url(assets/font/poppins/Poppins-Light.ttf);
 
}

@font-face {
font-family:'bebas-nehue';
src: url(assets/font/Bebas_Neue/BebasNeue-Regular.ttf);
 
}

@font-face {
font-family:'luckiestGuy';
src: url(assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf);
 
}


.font{
  font-family:'bebas-nehue';
}

.fontPop{
  font-family:'poppins-light';
}

.fs-1{
  font-size: 0.5em;
}

.fs-2{
  font-size: 0.8em;
}

.fs-3{
  font-size: 1em;
}

.fs-4{
  font-size: 1.2em;
}

.fs-5{
  font-size: 1.3em;
}

.fs-6{
  font-size: 1.5em;
}

.fs-7{
  font-size: 1.7em;
}

.fs-8{
  font-size: 2em;
}


.fs-9{
  font-size: 3em;
}

.f-w{
  color: white;
}
.pd-5{
  padding: 5px;
}

.btnFilled{
  font-family:'poppins-light';
  background-color: red;
  color: white;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mt-25{
  margin-top: 25px;
}

.mt-30{
  margin-top: 30px;
}

.mt-40{
  margin-top: 40px;
}

.mt-50{
  margin-top: 50px;
}

.mt-60{
  margin-top: 60px;
}

.mt-70{
  margin-top: 70px;
}

.mt-80{
  margin-top: 80px;
}

.mt-100{
  margin-top: 100px;
}

.ml-10{
  margin-left: 10px;
}

  .animate__animated.animate__fadeIn{
    --animate-duration: 2s;
  }
  .custom-modal {
    max-width: 90vw !important;
    max-height: 90vh !important;
    padding: 20px !important;
  }
  
  .custom-modal .modal-dialog {
    padding: 0px !important;
    border-radius: 10px !important;
    margin: 0 auto;
  }