<div  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" style=" background-color: white; margin-top: 10px;">

    <div  fxFlex="100" class="animate__animated animate__fadeIn headerRotoplas" fxLayoutAlign="end"> 

        <img  class="img-fluid" [src]="getImage()" alt="" width="50%" >

      <!-- <button type="button" class="btnNav" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
    >Mas Info...</button> -->

    </div>

    <img src="assets/arrow.png" (click)="goToTop()" id="up" >
    <img src="assets/plantium/back.png" routerLink="../../home" id="back" >
    <img src="assets/plus.png" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" 
    aria-controls="formCanvas"id="plus"  >


    <div  fxFlex="97" style="margin-top: 70px;" >
          <h5 class="card-title">La Empresa</h5>
          <p class="card-text">En Argentina, estamos desde hace 20 años desarrollando e innovando constantemente, siempre con el compromiso de llevar más y mejor agua a las personas para mejorar su calidad de vida. Somos una compañía líder, con una tradición que nos impulsa a crecer sostenidamente en Argentina y a traspasar fronteras para llevar nuestras soluciones de almacenamiento, conducción y tratamiento del agua a otros países. </p>
    </div>

    <div fxLayout="row wrap" fxFlex="98" class="products" #top >
 
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
            <div fxFlex="25" fxFlex.xs="60" > <h1 >Productos</h1></div> 
            <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
        </div>
    </div>


    <div fxFlex="98" fxLayout="row wrap" fxLayoutAlign="space-between" style="margin-bottom: 20px;" >

        <!-- exterior -->
        <div fxFlex="20" fxFlex.xs="49" fxLayout="row wrap" fxLayoutAlign="center"  (click)="goToExterior()">
            <div class="borderdouble">
            <img src="assets/rotoplas/exterior.png" alt="" class="tanq-ext" fxFlex="100">
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center" >
            <h5 fxFlex="100" fxLayoutAlign="center" >Tanque vertical</h5> 
            <h6 style="color: rgb(175, 175, 175);">para exteriores</h6>
            </div>
        </div>

        <!-- interior -->
        <div fxFlex="20" fxFlex.xs="49"fxLayout="row wrap" fxLayoutAlign="center" (click)="goToInterior()" >
            <div class="borderdouble2"  >
                <img src="assets/rotoplas/interior.png" alt=""   style="border-radius: 300px; padding: 2px;" fxFlex="100">
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center" >
                <h5 fxFlex="100" fxLayoutAlign="center" >Tanque vertical</h5> 
                <h6 style="color: rgb(175, 175, 175);">para interiores</h6>
            </div>
        </div>
    
        <!-- incendio -->
        <div fxFlex="20" fxFlex.xs="49"fxLayout="row wrap" fxLayoutAlign="center"(click)="goToFire()" >
            <div class="borderdouble3"  >
                <img src="assets/rotoplas/incendio.png" alt=""   style="border-radius: 300px; padding: 2px;" fxFlex="100">
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center" >
                <h5 fxFlex="100" fxLayoutAlign="center" >Tanque vertical</h5> 
                <h6 style="color: rgb(175, 175, 175);">anti incendio</h6>
            </div>
        </div>

         <!-- horizonatal -->
         <div fxFlex="20" fxFlex.xs="49"fxLayout="row wrap" fxLayoutAlign="center" (click)="goToHorizontal()" >
            <div class="borderdouble2"  >
                <img src="assets/rotoplas/horizontal.png" alt=""   style="border-radius: 300px; padding: 2px;" fxFlex="100">
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="center" >
                <h5 fxFlex="100" fxLayoutAlign="center" >Tanque </h5> 
                <h6 style="color: rgb(175, 175, 175);">horizontal</h6>
            </div>
        </div>

            <!-- + -->
            <div fxFlex="20" fxFlex.xs="49" fxLayout="row wrap" fxLayoutAlign="center" >
            <div class="borderdouble" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas">
                <img src="assets/mas.png" alt=""  class="plus" fxFlex="100">
            </div>
            
            <h5 >mas info... </h5>
        </div>
        
    </div>
    
    <!-- tanque exterior -->
    <div fxLayout="row wrap" fxFlex="98" class="products" #ext>
 
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
            <div fxFlex="25" fxFlex.xs="60" > <h1 >Tanques para exteriores</h1></div> 
            <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
        </div>
    </div>  


    <div fxLayout="row wrap" fxFlex="98" class="products" fxLayoutAlign="center">
        <p class="card-title">Capacidad y resistencia a gran escala</p>
        <p class="card-text">Los Tanques Verticales Para Exteriores Rotoplas, fabricados en polietileno de alta densidad, ofrecen diversas capacidades de almacenamiento que van desde lo 5,000 hasta los 25,000 litros. Estos tanques Rotoplas disponibles en color negro, cuentan con protección UV. Estos tanques almacenan sustancias químicas densas y corrosivas ya que son fabricados con polietileno de alta densidad, lo que los hace ligeros, de grado alimenticio, resistentes y no genera olor ni sabor al producto que se almacene. Estos tinacos son fáciles de instalar conexiones de carga y descarga de producto según la necesidad.</p>
    </div>

    <div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center">
        
        <!-- <div style="margin-top: 15px;"> <button class="btnContact" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas">Necesito mas información</button></div> -->

        <img src="assets/rotoplas/tanque_ext_5000.png" fxFlex="40" fxFlex.xs="98">

        <div fxFlex="60" fxFlex.xs="98" fxLayoutAlign="start" >
          <img src="assets/rotoplas/cuadro-exterior.png" fxFlex="100" >

        </div>

    </div>

<!-- tanque interior -->

<div fxLayout="row wrap" fxFlex="98" class="products" #int>
 
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
        <div fxFlex="25" fxFlex.xs="60" > <h1 >Tanques para interiores</h1></div> 
        <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
    </div>
</div>  
<div fxLayout="row wrap" fxFlex="98" class="products" fxLayoutAlign="center">
    <p class="card-title">Capacidad y resistencia a gran escala</p>
    <p class="card-text">Los Tanques Verticales para Interiores se fabrican con polietileno y ofrecen diversas capacidades de almacenamiento que van desde los 5,000 hasta los 25,000 litros. Estos tanques sirven para almacenar agua y químicos, disponibles en color blanco y contar con 3 reforzamientos diferentes que atienden a las sustancias que necesites almacenar. Son de grado alimenticio, ideales para uso en la industria, agroindustria, fabricados en polietileno de alta densidad, lo que los hace muy resistentes a la corrosión y que también respeten las propiedades del producto que almacenan, como el olor, sabor y color natural.</p>
</div>

<div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center">

    <div fxFlex="60" fxFlex.xs="98" fxLayoutAlign="start" >
      <img src="assets/rotoplas/cuadro-interior.png" fxFlex="100" >

    </div>
    <img src="assets/rotoplas/tanque_int_5000.png" fxFlex="40" fxFlex.xs="98">


</div>


<!-- tanque incendio -->

<div fxLayout="row wrap" fxFlex="98" class="products" #fire>
 
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
        <div fxFlex="25" fxFlex.xs="60" > <h1 >Tanques de agua anti incendios</h1></div> 
        <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
    </div>
</div>  
<div fxLayout="row wrap" fxFlex="98" class="products" fxLayoutAlign="center">
    <p class="card-title">Capacidad y resistencia a gran escala</p>
    <p class="card-text">Los Tanques Anti Incendio Rotoplas, fabricados con resina 100% virgen y en una sola pieza, ofrecen diversas capacidades de           almacenamiento que van desde lo 5,000 hasta los 25,000 litros.
        Especialmente diseñados para funcionar como reserva de agua contra incendios. Este tanque esta fabricado con materiales y procesos de la más alta calidad, siendo ideal para aquellos casos en los que se debe combatir el fuego y no se cuenta con suministro de agua en red..</p>
</div>

<div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center">

    <img src="assets/rotoplas/tanque_aut_5000.png" fxFlex="40" fxFlex.xs="98">
    
    <div fxFlex="60" fxFlex.xs="98" fxLayoutAlign="start" >
      <img src="assets/rotoplas/cuadro-incendio.png" fxFlex="100">

    </div>

</div>


<!-- tanque horizontal -->

<div fxLayout="row wrap" fxFlex="98" class="products" #hor>
 
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" style="margin-top: 30px;">
        <div fxFlex="25" fxFlex.xs="60" > <h1 >Tanques de agua horizontales</h1></div> 
        <div fxFlex="75" fxFlex.xs="40" class="divider"></div>
    </div>
</div>  
<div fxLayout="row wrap" fxFlex="98" class="products" fxLayoutAlign="center">
    <p class="card-title">Capacidad y resistencia a gran escala</p>
    <p class="card-text">El Tanque Horizontal Rotoplas puede almacenar fertilizantes, combustibles y más de 300 sustancias químicas. Estos tanques pipa son fabricados en polietileno estándar, reforzado y doble reforzado de una sola pieza y cuentan con capacidades de 500, 2000, 3000 y 5000 litros. Los Tanques Horizontales se pueden adaptar fácilmente a un remolque, son resistentes, ligeros y con un sistema rompeolas ideal para mantener estabilidad del vehículo que lo remolca.</p>
</div>

<div fxLayout="row wrap" fxFlex="98" fxLayoutAlign="center center" style="margin-bottom: 80px;">

    <div fxFlex="60" fxFlex.xs="98" fxLayoutAlign="start" >
      <img src="assets/rotoplas/cuadro-horizontal.png" fxFlex="100" >
    </div>
    
    <img src="assets/rotoplas/tanque_hor_500.png" fxFlex="40" fxFlex.xs="98">

</div>

<!-- Formulario canvas -->
<div class="offcanvas offcanvas-start" tabindex="-1"  id="formCanvas" aria-labelledby="offcanvasExampleLabel"  >
   
    <div    fxLayoutAlign="end" fxLayout="row" style="margin-top: 20px; padding: 20px;">
          <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="offcanvas"></button>
   </div>    
   
   <div class="offcanvas-header" fxLayoutAlign="center center" style="margin-top: 20px;">

        <div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center" class="consulta">
            <div fxFlex="60" fxFlex.xs="60" > <h4>Dejanos tu consulta</h4></div> 
            <div fxFlex="40" fxFlex.xs="40" class="dividerGreen"></div>
     </div>

    
    </div>
    
    <div class="offcanvas-body" fxLayout="row wrap"  fxLayoutAlign="center start">
        <div fxFlex="90" style="margin-top: 30px;">
        <app-form-canvas></app-form-canvas>
       </div>
        
       <div fxFlex="90" style="margin-top: 20px;">
           <h4> Te ofrecemos mas medios para encontrarnos..</h4>

       </div>
  
        <div fxFlex="90" fxLayoutGap.xs="20px" fxLayoutGap="35px"  fxLayoutAlign.xs="start end" fxLayoutAlign="space-between" style="margin-top: 30px;">
            <a  href="https://wa.me/+542302623444?text=Hola!!%20" target="blank" > 
             <i class="fab fa-whatsapp" ></i>
           </a>
             
            <a target="_blank" title="Instagram" href="https://www.instagram.com/re.vi.mack_agro/?hl=es">
               <i class="fab fa-instagram"></i>
            </a>

            <a target="_blank" title="Facebook" href="https://www.facebook.com/search/top?q=revimack%20agro">
               <i class="fab fa-facebook-f"></i>
            </a>

            <a target="_blank" title="email" href="mailto:revimackventas@gmail.com">
              <i class="fa fa-envelope"></i>
           </a>

           <a target="_blank" title="gps" href="https://goo.gl/maps/4indGx9FR3M1qX5b6">
            <i class="fas fa-map-marker-alt"></i>
         </a>
           
     
        </div> 
    </div>

</div> 



</div>

