
<div fxLayout="row wrap" fxLayotAlign="center center" style="background-color: white; width: 100%; height: 100%;">

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100" style="margin-bottom: 100px; position: relative; margin-top: 50px;" >
    <img [src]="banner" alt="" fxFlex="99">
  </div>
    
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50" fxFlex.xs="100" style="z-index: 1; padding: 20px;">
      
        <img [src]="img1"  alt="" fxFlex="100" style="border-radius: 5px;">
    
        <carousel [cellWidth]="'100%'" [cellsToShow]="2" arrowsTheme="dark" [height]="value">
           
          <div class="carousel-cell"> 
              <img [src]="img2" (click)="goToMainImg('img2')" >
           </div>
          
           <div class="carousel-cell"> 
              <img [src]="img3" (click)="goToMainImg('img3')">
           </div>
          
           <div class="carousel-cell"> 
            <img [src]="img4" (click)="goToMainImg('img4')">
           </div>
        </carousel>
    
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="50" fxFlex.xs="100" style="padding-left: 20px; padding: 20px;" >
      
          <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="90" >

              <span class="fontPop fs-8" fxFlex="100"><b> DEUTZ AX 4.120 </b> </span>
              <span class="fontPop fs-6" style="margin-top: 40px;" > 
              
                Datos técnicos: <br> 
                Doble traccion, rodado trasero 18.4-38. <br>
                Doble embrague , cabina nacion. <br>
                Estado general muy bueno.</span>
          </div>

          <button  class="btnContact fontPop" data-bs-toggle="offcanvas" data-bs-target="#formCanvas" aria-controls="formCanvas" style="margin-bottom: 40px; margin-top: 30px;"  fxFlex="40" fxFlex.xs="60">Más información
          </button>
      </div>

    


</div>

<app-form-canvas></app-form-canvas>
