.btnContact{
    background-color: #82b75c;
    font-weight: 500;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 1.3vw;
    padding: 10px;
    border: 2px solid #82b75c;

    box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -webkit-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(#82b75c,0.75);
  }

  .btnContact:hover{
    background-color: white;
    color: #82b75c;
    border: 2px solid #82b75c;
  }

  
//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {

  .btnContact{
      font-size: 1.3em;
      padding: 2px;
  }



}

@media only screen and (min-width: 576px) {

  .btnContact{
      font-size: 1.1em;
      padding: 2px;

  }

}
  

/* medium devices (tablets, 768 px and up) */ 
@media only screen and (min-width: 786px) {

}
  

/* large devices (desktops, 992 px and up) */ 
@media only screen and (min-width: 992px) {

}

/* x-large devices (desktops, 1200 px and up) */ 
@media only screen and (min-width: 1200px) {


  

}
  

/* XX- Large devices (larger desktops, 1400px and up) */ 
@media only screen and (min-width: 1400px) {



}
  

